<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.q.likealarmapplication">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAb4sE4zlAZZxrDe-e-2ESlfOadu_AfG20" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".UserActivity.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".FirstPageActivity.FirstPageActivity" />
        <activity
            android:name=".SecondPageActivity.SecondPageActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".UserActivity.UserCreateActivity" />
        <activity android:name=".ThirdPageActivity.ThirdPageActivity" />

        <service
            android:name=".LocationService.LocationSer"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ChatActivity.ChatActivity" />
        <activity
            android:name=".ProfileActivity.ProfilecreateActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

            <!-- Customize your theme here. -->
            >
        </activity>
        <activity
            android:name=".IdealActivity.IdealCreateActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".ThirdPageActivity.ThirdPAgeActivity2" />
        <activity android:name=".ThirdPageActivity.ProfileAppear" />
        <activity android:name=".ThirdPageActivity.IdealAppear"></activity>
    </application>

</manifest>